In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('subway.xlsx')

In [3]:
df.head(5)

,날짜,호선,역번호,역명,구분,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,합 계
0,2018-01-01,1호선,150,서울역,승차,373,318,365,785,1047,...,3476,3891,3227,2945,2382,3070,1750,781,96,40393
1,2018-01-01,1호선,150,서울역,하차,205,1040,872,984,1650,...,2885,2845,2337,2131,1669,1404,868,477,147,34730
2,2018-01-01,1호선,151,시청,승차,87,105,124,197,291,...,1027,1102,1278,1163,1032,975,553,214,9,12298
3,2018-01-01,1호선,151,시청,하차,47,294,497,1017,673,...,781,702,552,388,308,236,160,100,39,10945
4,2018-01-01,1호선,152,종각,승차,604,399,191,250,370,...,2127,2172,2171,1873,1935,2084,1458,580,28,22621

In [10]:
df.groupby(["역번호","역명"]).sum().sort_values(by="합 계",ascending=False)

,,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,10 ~ 11,11 ~ 12,12 ~ 13,13 ~ 14,14 ~ 15,...,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,합 계
역번호,역명,,,,,,,,,,,,,,,,,,,,,
222,강남,347810,991032,2693548,5177981,5182491,3023880,2943121,3277012,4102748,3824763,...,4429862,5522458,8105746,5879712,3873981,4176071,4295014,2113914,459970,74509854
216,잠실(송파구청),250924,1154965,2820172,4741891,3993852,2727013,2908547,2995089,3270061,3314422,...,4063089,4850410,6523887,4946633,3767816,3398085,2971780,1368315,296793,64010752
239,홍대입구,594055,743409,1393165,2581530,2531757,2074661,2325106,2846321,3299539,3366530,...,4107629,4850185,6033646,5058896,3788135,3927033,4027907,2493811,570319,60241918
230,신림,603943,1287469,3300251,4955753,3159124,2002757,1899092,2034026,2131213,2084587,...,2581837,3148099,4424110,4228834,2844859,2710515,2680959,1762953,525693,50621572
232,구로디지털단지,603304,962639,2728893,5656724,3485354,1761124,1548813,1615021,1799517,1761598,...,2116557,2887657,5000333,3662880,2295238,2161138,2026045,1196362,302559,45395274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,남태령,9288,35469,176334,290293,157066,94083,87209,85389,75491,69823,...,92862,117309,153787,95288,37974,28548,21754,11863,7095,1720186
2711,장암,17788,100616,236819,176408,80608,63249,48677,47557,43465,45160,...,57279,71819,76501,64291,38255,27041,19703,14220,4157,1285261
245,신답,14733,34283,90724,139523,60557,45840,43017,46128,47666,46939,...,67159,73741,119731,99325,50852,52659,42976,30634,8701,1168973
309,지축,12783,53025,79715,91966,63873,48335,44868,45802,45437,48158,...,70419,79861,83678,64034,44837,34400,26576,15363,3931,1012460
247,도림천,9447,26038,101528,111020,52137,41786,33959,45046,36374,41156,...,56609,57113,76841,57610,34909,31470,22116,15083,6255,901786

In [11]:
df.groupby(["역번호","역명","구분"]).sum().sort_values(by="합 계",ascending=False)

                  05 ~ 06  06 ~ 07  07 ~ 08  08 ~ 09  09 ~ 10  10 ~ 11  \
역번호  역명       구분
222  강남       하차   148817   690650  2119634  4251476  4385965  2227121
              승차   198993   300382   573914   926505   796526   796759
216  잠실(송파구청) 승차   177499   646233  1692468  2470574  1750942  1206908
              하차    73425   508732  1127704  2271317  2242910  1520105
239  홍대입구     하차    60452   253760   482823  1443973  1650299  1280140
...                   ...      ...      ...      ...      ...      ...
309  지축       승차     4976    18494    58563    66493    42912    29758
247  도림천      하차     4533    10768    61273    71878    26361    19421
434  남태령      하차     1210    13955    50738    73241    28361    17185
247  도림천      승차     4914    15270    40255    39142    25776    22365
2711 장암       하차     2190    16861    18185    26062    25955    29711

                  11 ~ 12  12 ~ 13  13 ~ 14  14 ~ 15  ...  16 ~ 17  17 ~ 18  \
역번호  역명       구분                                      ...
222  강남       하차  1876438  1891509  2290230  1982732  ...  1949409  2355011
              승차  1066683  1385503  1812518  1842031  ...  2480453  3167447
216  잠실(송파구청) 승차  1232142  1357754  1542335  1608071  ...  2120961  2644542
              하차  1676405  1637335  1727726  1706351  ...  1942128  2205868
239  홍대입구     하차  1448275  1835367  2136893  2102371  ...  2264340  2623378
...                   ...      ...      ...      ...  ...      ...      ...
309  지축       승차    25225    26203    24173    24168  ...    34501    39539
247  도림천      하차    15442    21445    16291    18476  ...    20493    24714
434  남태령      하차    15947    17806    17531    18138  ...    20383    24027
247  도림천      승차    18517    23601    20083    22680  ...    36116    32399
2711 장암       하차    21142    19011    14584    14833  ...    14409    19654

                  18 ~ 19  19 ~ 20  20 ~ 21  21 ~ 22  22 ~ 23  23 ~ 24  \
역번호  역명       구분
222  강남       하차  3318092  2569604  1193782   894024   780282   491774
              승차  4787654  3310108  2680199  3282047  3514732  1622140
216  잠실(송파구청) 승차  3435742  2493141  2319873  2052794  1635105   549967
              하차  3088145  2453492  1447943  1345291  1336675   818348
239  홍대입구     하차  3353352  2868758  1655627  1300278  1095856   815470
...                   ...      ...      ...      ...      ...      ...
309  지축       승차    24725    11857     7053     4748     2486     2013
247  도림천      하차    34455    33566    21528    19208    16113    12333
434  남태령      하차    30355    32920    16558    15577    14146     8879
247  도림천      승차    42386    24044    13381    12262     6003     2750
2711 장암       하차    31975    38113    22309    14805    13568    11790

                  00 ~ 01       합 계
역번호  역명       구분
222  강남       하차   162104  37469278
              승차   297866  37040576
216  잠실(송파구청) 승차    76665  32854085
              하차   220128  31156667
239  홍대입구     하차   348899  31133085
...                   ...       ...
309  지축       승차     1560    476014
247  도림천      하차     5252    471314
434  남태령      하차     5655    441897
247  도림천      승차     1003    430472
2711 장암       하차     3744    373861

[550 rows x 21 columns]